body {
    padding-top: 4rem;
    background-color: rgb(42, 1, 34);
}

header h1 {
    color: #f7f7f7;
}

card {
    display: inline-flex;
    padding-top: 4.5rem;
    padding-left: 4.5rem;
    right: 500px;
}

.carousel-inner {
    height: 0;
    padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
    position: absolute !important; /* Bootstrap is insistent */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%; /* Bootstrap handles width already */
    object-fit: cover; /* or 'contain' if you want stretch instead of crop */
}

#support_contact {
    color: #f7f7f7;
}

#questions {
    color: #f7f7f7;
}