@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  padding-top: 55px;
  /* 2 */
}
@media (max-width: 979px) {
  body {
    padding-top: 0;
  }
}

.nav {
  background-color: #0A0F0D;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

.footer {
  background-color: #0A0F0D;
  color: #A18276;
  font-size: 11px;
  padding-top: 20px;
  display: block;
  text-align: center;
  vertical-align: bottom;
  margin:fixed-bottom;
}

.logo {
  width: 45px;
  height: 45px;
  margin-top: .4rem;
  display: block;
  position: static;
  margin-left: .25rem;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #A18276;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

.site-title {
  font-family: "Lucida Console", "Courier New", monospace;
}

.nav li:hover {
  background-color: #FBF5F3;
}

.nav li.active {
  background-color: #7B0828;
}

.site-title {
  font-size: 2rem;
}

:root {
  background-color: #FBF5F3;
}

.email {
  margin-top: 1rem;
}

.mail {
  margin-top: 1rem;
}

.phone {
  margin-top: 1rem;
}

.login_form {
  width: 100vw;
  height: 100svh;
}

.banner_class {
  max-width: 100%;
  padding: 0;
  margin: 0;
}

.new_user {
  font-family: "Lucida Console", "Courier New", monospace;
  align-items: center;
}

