
body {
    background: url("GameImages/mw2.jpeg"), url("GameImages/halo-infinite-cover.jpeg"), url("GameImages/CSGO.jpg");
    background-size: auto, auto, 500px;
    background-repeat: no-repeat, no-repeat, no-repeat;


    padding-top: 4.5rem;
}



.search-bar {
    position: relative;
    right: 0;
    width: 1700px;
    height: 100px;
    top: 10px;

}



.friends-list {
    position: absolute;
    right: 0;
    top: 90px;

}

.left {
    width: 75%;
}

.right {
    width: 25%;
}


